In [1]:
import pandas as pd

In [9]:
# read a csv file
df = pd.read_csv('data/gl_kanu_data.csv', sep=',')

In [10]:
df

,index,q_ing_w1,fluid_w1,q_ing_w2,fluid_w2,q_ing_w3,fluid_w3,q_ing_w4,fluid_w4,q_ing_w5,fluid_w5,q_ing_w6,fluid_w6
0,1,2.84,1420,2.62,1310,3.32,1660,3.90,1950,3.51,1755,3.70,1850
1,2,1.66,1660,1.42,1420,1.85,1850,1.99,1990,1.83,1830,2.25,2250
2,3,1.34,1680,1.14,1430,1.50,1875,1.57,1960,1.47,1835,1.85,2310
3,4,1.02,1700,0.85,1415,1.13,1880,1.14,1900,1.07,1790,1.43,2380
4,5,0.66,1660,0.53,1330,0.74,1480,0.70,1750,0.68,1700,0.96,2390
5,6,0.34,1330,0.16,800,0.27,1330,0.24,1200,0.22,1120,0.37,1850

In [6]:
# Se ha reiniciado el estado, por lo que se debe volver a importar pandas y crear el archivo desde cero.

import pandas as pd

# Crear el DataFrame con los datos proporcionados
data = {
    "index": [0, 1, 2, 3, 4],
    "q_ing_w1": [125.00, 250.00, 500.00, 625.00, 875.00],
    "fluid_w1": [0.00, 186.42, 216.41, 194.81, 127.12],
    "q_ing_w2": [575.00, 625.00, 750.00, 825.00, 950.00],
    "fluid_w2": [0.00, 392.50, 427.47, 432.50, 432.08],
    "q_ing_w3": [275.00, 325.00, 400.00, 575.00, 800.00],
    "fluid_w3": [0.00, 432.50, 530.00, 604.99, 620.82],
    "q_ing_w4": [375.00, 400.00, 550.00, 600.00, 775.00],
    "fluid_w4": [0.00, 40.00, 382.37, 387.11, 333.25],
}

df = pd.DataFrame(data)

# Guardar en CSV
csv_path = "./data/well_data.csv"
df.to_csv(csv_path, index=False)

csv_path

'./data/well_data.csv'

In [8]:
import numpy as np
a = np.array([[3,40,5],[6,7,8]])

In [9]:
a.max()

40

In [10]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame([[1,2],[3,4]], columns=['A','B'])

In [14]:
df

   A  B
0  1  2
1  3  4

In [15]:
df['A'].tolist()

[1, 3]

In [21]:
df.iloc[: , :].to_numpy().tolist()

[[1, 2], [3, 4]]

In [2]:
import numpy as np

In [4]:
np.linspace(0, 5, 10).tolist()

[0.0,
 0.5555555555555556,
 1.1111111111111112,
 1.6666666666666667,
 2.2222222222222223,
 2.7777777777777777,
 3.3333333333333335,
 3.8888888888888893,
 4.444444444444445,
 5.0]

In [7]:
a = np.array([[1,2],[4,5]])

In [9]:
a[0][1]

2

In [2]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

C:\Users\djper\AppData\Local\Temp\ipykernel_25176\2347305088.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# dame un dataframe de 10 filas y 2 columnas con valores aleatorios entre 0 y 1
df = pd.DataFrame(np.random.rand(10, 2), columns=['A', 'B'])

In [3]:
import pandas as pd

In [8]:
# leer csv
df = pd.read_csv('../data/gl_nishikiori_data_five_version_01.csv', sep=';')

In [9]:
df

,description,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,field,well_1,well_2,well_3,well_4,well_5,NaN,NaN,NaN,NaN,NaN
1,field001,w001,w002,w003,w004,w005,NaN,NaN,NaN,NaN,NaN
2,index,q_ing_w1,fluid_w1,q_ing_w2,fluid_w2,q_ing_w3,fluid_w3,q_ing_w4,fluid_w4,q_ing_w5,fluid_w5
3,1,0,1449,1132,4277,1570,5886,1415,3538,321,1605
4,2,321,2162,2041,5462,2885,7720,2479,4468,1161,3481
5,3,932,2734,3252,6383,4719,9264,3939,5230,2434,4760
6,4,1867,3161,4792,7032,7080,10390,5899,5856,4468,5970
7,5,3163,3459,6710,7460,10036,11158,8325,6244,7426,6974
8,6,4902,3675,9029,7678,13500,11481,11393,6507,11432,7689
9,7,7211,3839,11831,7752,17895,11725,15276,6683,16673,8136
10,8,10134,3921,15307,7769,23196,11772,19830,6674,23648,8447
11,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43979,8566
12,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58444,8454

In [9]:
import numpy as np
np.logspace(1, np.log10(15000), 40, dtype=int)

array([   10,    12,    14,    17,    21,    25,    30,    37,    44,
          54,    65,    78,    94,   114,   138,   166,   200,   242,
         292,   352,   425,   513,   618,   746,   900,  1086,  1310,
        1580,  1906,  2299,  2774,  3346,  4036,  4869,  5873,  7084,
        8546, 10308, 12435, 15000])

In [ ]:
# ver atributos y metodos que posee
dir(Base)

['__abstract__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_sa_registry',
 'metadata',
 'registry']

: